<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QCrypTool 0.1.34</Name>
    <Version>0.1.34</Version>
    <Title>QCrypTool</Title>
    <Publisher>CrypTool Team</Publisher>
    <StartMenuDir>QCrypTool-0.1.34</StartMenuDir>
    <TargetDir>@HomeDir@/QCrypTool-0.1.34</TargetDir>
    <ControlScript>controlscript.qs</ControlScript>
</Installer>
